@CHARSET "UTF-8";

/* 게시판 전체 적용 내용 */
caption{display:none;}
img{border:0px;}
input[type="text"],select{font-size:85%; padding:3px;}
input[type="text"]{width:250px; }	
input[type="button"]{padding:3px; font-size:80%;}
table{border-collapse:collapse;}
ul {list-style: none;}

/********** 상품 리스트 화면 **********/

/* 검색 부분 */
#memberSearch table{width:96%; margin-top:10px;}
#memberSearch #search{height:26px;}
#memberSearch #btd1{width:50%; text-align:left;}
#memberSearch #btd2{width:50%; text-align:right;}

/* 리스트 부분 */
#memberList{margin-top:10px; /* height:110px; */}
#memberList table{width:96%; padding:0px; border:1px solid #000066; border-bottom:0px;}	
#memberList tr{padding:0px;}	
#memberList th, #memberList td{padding:8px; border-bottom:1px solid #000066; }	
#memberList th{border-right:1px solid #000066; background-color:#e7e7e7; text-align :center}

#memberList .borcle{border-right:0px; }	
#memberList .rCount{font-size:10px; color:red;}

/* 페이징 출력 div 부분 */
#memberContainer #memberPage{width:96%; margin-top:10px;}

/* 페이징 버튼 부분 */
.paginate{width:100%; height:20px; text-align:center; vertical-align:top; /* font-size:14px; */}
.paginate span .textAn{vertical-align:bottom;}
.paginate a.on{color:#FF3300;}

/********** 게시판 상세 화면 **********/

#msg{padding-left:4px; vertical-align:middle; font-weight:bold;}		
	
/*********** 게시판 입력 화면 **********/
#p_name, #file{width:480px}		
#p_content{width:87%; height:200px;}	

#file{display:inline;}
#imgView{position:absolute;}
.imgViewData{position:relative; top:-2px; left:0px; z-index:100}